<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0QQ4SAyqcGDms9iFDqix3Tk_-ObtcbjY</string>
	<key>GCM_SENDER_ID</key>
	<string>684760899749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lasithaprabodha.Z</string>
	<key>PROJECT_ID</key>
	<string>z-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>z-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684760899749:ios:f6474b6b6bcae7dbd86d4c</string>
</dict>
</plist>